<section id="add" class="container">
    <div class="form-wrap">
        <h1>Advertise a job</h1>
        <p>Please enter the job details in the form below</p>
        {{#each errors}}
        <div class="error">
            <p>{{text}}</p>
        </div>
        {{/each}}
        <form action="/jobs/add" method="POST">
            <div class="input-group">
                <label for="title">Job title</label>
                <input type="text" name="title" id="title" class="input-box" placeholder="Job title" maxlength="100"
                    value={{title}}>
            </div>
            <div class="input-group">
                <label for="skills">Skills needed</label>
                <input type="text" name="skills" id="skills" class="input-box" placeholder="eg. javascript, react, node"
                    maxlength="100" value={{skills}}>
            </div>
            <div class="input-group">
                <label for="location">Location</label>
                <input type="text" name="location" id="location" class="input-box"
                    placeholder="eg. Manchester, Birmingham, London" maxlength="100" value={{location}}>
            </div>
            <div class="input-group">
                <label for="salary">Salary (Per annum)</label>
                <input type="number" name="salary" id="salary" class="input-box" placeholder="£" value={{salary}}>
            </div>
            <div class="input-group">
                <label for="description">Job description</label>
                <textarea name="description" id="description" class="input-box" placeholder="Max 250 characters..."
                    rows="10">{{description}}</textarea>
            </div>
            <div class="input-group">
                <label for="salary">Email Address</label>
                <input type="email" name="email_address" id="contactemail" class="input-box"
                    placeholder="@" value={{email_address}}>
            </div>
            <input type="submit" value="Submit" class="btn btn-reverse">
        </form>
    </div>
</section>