<section id="jobs" class="container">
    <h1>Available jobs</h1>

    {{#each jobs}}
    <div class="job">
        <h3>{{title}}</h3>
        <div class="tech">
            <small>Skills needed: <span>{{skills}}</span></small>
        </div>
        <h4>{{location}}</h4>
        <p>{{description}}</p>
        <ul>
            <li>Salary: {{salary}}</li>
            <li><a href="mailto:{{email_address}}" class="btn btn-reverse">Apply Now</a></li>
        </ul>

    </div>
    {{else}}
    <p>No job match at the moment</p>
    {{/each}}

</section>